.container {
     font-family: Poppins;
     font-weight: 400;
     font-size: 20px;
     line-height: 100%;
     letter-spacing: 0%;
     padding: 1rem;
}
.cardsContainer {
     display: flex;
     justify-content: center;
     gap: 20px;
     flex-wrap: wrap;
}

.card {
     border-radius: 16px;
     width: 320px;
     height: 112px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     padding: 20px;
}

/* ألوان الخلفية لكل كارد */
.cardBg1 {
     background-color: #9ABFC7;
     /* سماوي فاتح لـ Departments */
}

.cardBg2 {
     background-color: #6CC7BD;
     /* أخضر فاتح لـ Students */
}

.cardBg3 {
     background-color: #ACE0F9;
     /* أخضر غامق لـ Teachers */
}



.cardLeft {
     display: flex;
     justify-content: center;
     align-items: center;
}

.cardRight {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.iconCircle {
     width: 50px;
     height: 50px;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
}

.iconCircle i {
     color: black;
     font-size: 24px;
}

.circle1 {
     background-color: #DAEFF3;
}

.circle2 {
     background-color: #DAEFF3;
}

.circle3 {
     background-color: #D4E2FF;
}



.number {
     font-size: 20px;
     font-weight: bold;
     color: #333;
     margin-top: 3px;
}

.description {
     font-size: 18px;
     color: #000000CC;
}
.coursetitle {
     font-family: Poppins;
     font-weight: 700;
     font-size: 22px;
     line-height: 100%;
     letter-spacing: 0%;
     margin-top: -1rem;
     margin-bottom: 1rem;
}