.searchWrapper {
     width: 100%;
     background-color: #DCDCDCB2;
     padding: 1rem;
}

/* ✅ Flex لتوزيع البحث + الجرس في صف واحد */
.searchContainer {
     display: flex;
     align-items: center;
     justify-content: space-between;
     gap: 0.5rem;
}

/* ✅ تجميع الأيقونة + الانبت داخل حاوية */
.inputWrapper {
     display: flex;
     align-items: center;
     background-color: #ffffff;
     border: 1px solid #ddd;
     border-radius: 32px;
     padding: 0 1rem;
     flex: 1;
     /* ياخذ كل المساحة المتبقية */
}

/* ✅ أيقونة البحث داخل الانبت */
.inputWrapper i {
     color: #000000;
     font-size: 19px;
     margin-right: 10px;
}

/* ✅ تصميم حقل البحث */
.searchInput {
     width: 100%;
     padding: 15px 0;
     border: none;
     outline: none;
     font-size: 14px;
     background-color: transparent;
}

.searchInput::placeholder {
     color: #000000;
     font-family: 'PT Sans', sans-serif;
     font-weight: 400;
     font-size: 24px;
     line-height: 100%;
     letter-spacing: 0%;
}

/* ✅ أيقونة الجرس */
.notificationIcon {
     cursor: pointer;
     display: flex;
     align-items: center;
     justify-content: center;
     width: 50px;
     height: 50px;
     font-size: 28px;
}